astroid==2.2.*
beautifulsoup4==4.12.*
certifi==2022.12.*
chardet==3.0.*
idna==2.8
isort==4.3.*
kdtree==0.16
lazy-object-proxy==1.4.*
mccabe==0.6.*
osm-conflate==1.4.1
pylint==2.3.*
PyYAML==5.1.*
requests==2.22.*
requests-cache==0.5.*
six==1.12.*
tqdm==4.32.*
urllib3==1.25.*
virtualenv==16.6.*
wrapt==1.11.*
