astroid==2.15.*
beautifulsoup4==4.12.*
certifi==2022.12.*
chardet==3.0.*
idna==2.8
isort==4.3.*
kdtree==0.16
lazy-object-proxy==1.9.*
mccabe==0.6.*
osm-conflate==1.4.1
pylint==2.17.*
PyYAML==6.0
requests==2.29.*
requests-cache==1.0.*
six==1.12.*
tqdm==4.32.*
urllib3==2.0.*
virtualenv==20.23.*
wrapt==1.15.*
