astroid==2.15.*
beautifulsoup4==4.12.*
certifi==2023.7.*
chardet==5.1.*
idna==3.4
isort==5.12.*
kdtree==0.16
lazy-object-proxy==1.9.*
mccabe==0.7.*
osm-conflate==1.4.1
pylint==3.0.*
PyYAML==6.0.1
requests==2.31.*
requests-cache==1.1.*
six==1.16.*
tqdm==4.65.*
urllib3==2.0.*
virtualenv==20.24.*
wrapt==1.15.*
